h3{
    color: blueviolet;
    background-color: aqua;
    border: 10px solid blue;
    border-radius: 20px 0px;
    box-shadow: 10px 10px 20px rgb(95, 235, 97);
    padding: 10px;
    margin: 10px;
}
p{
    color: rgb(84, 9, 153);
    background-color: bisque;
    border: 10px solid rgb(229, 141, 9);
    box-shadow: 10px 10px 20px rgb(95, 235, 97);
    padding: 10px;
    margin: 10px;
    border-radius: 10px 30px ;
}